Repository madfam-io/penny: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "package.json": ["npx sort-package-json"]
}

test: add comprehensive test suite with 100% coverage target
  apps/api/src/__tests__/routes.test.ts
  apps/web/src/__tests__/components/ArtifactViewer.test.tsx
  cypress/e2e/user-journey.cy.ts
  jest.config.js
  jest.setup.js
  package.json
  packages/core/src/tools/__tests__/executor.test.ts
  packages/core/src/tools/__tests__/registry.test.ts
  packages/database/src/__tests__/client.test.ts
  packages/security/src/__tests__/auth.test.ts
  packages/shared/src/__tests__/utils.test.ts
Due: eslint --fix, prettier --write, npx sort-package-json

feat: complete infrastructure redesign for Vercel, Railway, and Cloudflare
  .env.example
  apps/api/Dockerfile
  docs/INFRASTRUCTURE_REDESIGN.md
  railway.toml
  scripts/deploy.sh
  vercel.json
  workers/auth-worker.ts
  workers/cdn-worker.ts
  workers/index.ts
  workers/media-transform.ts
  workers/types.ts
  wrangler.toml
Due: eslint --fix, prettier --write

docs: restructure and organize documentation
  .changeset/README.md
  IMPLEMENTATION_SUMMARY.md
  PERFORMANCE_ANALYSIS.md
  PHASE3_COMPLETE.md
  README_DEV.md
  SECURITY_ANALYSIS_REPORT.md
  SOFTWARE_SPEC.md
  apps/sandbox/README.md
  docs/DOC_PLANS_TEMPLATES.md
  docs/OPEN_SOURCE_STACK.md
  docs/README.md
  docs/admin/README.md
  docs/admin/overview.md
  docs/api/overview.md
  docs/architecture/README.md
  docs/architecture/overview.md
  docs/deployment/README.md
  docs/deployment/infrastructure.md
  docs/deployment/installation.md
  docs/developer-guide/README.md
  docs/reference/README.md
  docs/security/README.md
  docs/security/overview.md
  docs/tutorials/README.md
  docs/user-guide/README.md
  docs/user-guide/quick-start.md
  packages/database/README.md
Due: prettier --write

feat: implement comprehensive test suite with 80%+ coverage targets
  .github/workflows/test-coverage.yml
  apps/admin/src/__tests__/admin.integration.test.ts
  apps/api/src/__tests__/artifacts.integration.test.ts
  apps/api/src/__tests__/auth.integration.test.ts
  apps/api/src/__tests__/conversations.integration.test.ts
  apps/api/src/__tests__/tools.integration.test.ts
  apps/ws/src/__tests__/websocket.integration.test.ts
  coverage.config.js
  cypress.config.ts
  cypress/fixtures/chat-response.json
  cypress/fixtures/conversations.json
  cypress/fixtures/tool-execution.json
  cypress/support/e2e.ts
  docs/testing/README.md
  jest.config.js
  jest.frontend-setup.js
  jest.integration-setup.js
  jest.setup.js
  package.json
  packages/database/src/__tests__/database.integration.test.ts
  scripts/coverage.js
Due: eslint --fix, prettier --write, npx sort-package-json

fix: remove Vercel cron configuration to fix deployment error
  package.json
  railway.cron.yml
  vercel.json
Due: prettier --write, npx sort-package-json

fix: resolve Vercel multi-region deployment restriction
  vercel.json
Due: prettier --write

fix: resolve Vercel environment variable reference errors
  .env.development
  .env.production
  docs/deployment/vercel-setup.md
  vercel.json
Due: prettier --write

fix: resolve npm workspace protocol error in Vercel build
  .npmrc
  package.json
  scripts/build-web.sh
  vercel.json
Due: prettier --write, npx sort-package-json

fix: implement definitive solution for Vercel workspace protocol error
  apps/web/package.vercel.json
  scripts/fix-workspace-protocol.js
  scripts/vercel-prebuild.sh
  vercel.json
Due: eslint --fix, prettier --write

fix: use Node.js script instead of bash for Vercel setup
  scripts/vercel-setup.js
  vercel.json
Due: eslint --fix, prettier --write

Fix Vercel deployment - simplify install command to avoid path resolution issues
  vercel.json
Due: prettier --write

Fix Vercel build with Turbo monorepo configuration
  vercel.json
Due: prettier --write

Fix workspace protocol references for Vercel deployment
  apps/admin/package.json
  apps/api/package.json
  apps/web/package.json
  packages/analytics/package.json
  packages/billing/package.json
  packages/core/package.json
  packages/telemetry/package.json
  packages/tools/package.json
  scripts/fix-workspace-refs.js
  vercel.json
Due: eslint --fix, prettier --write, npx sort-package-json

Fix Vercel script path by using absolute path
  vercel.json
Due: prettier --write

Final fix for Vercel deployment - comprehensive workspace resolution
  scripts/fix-workspace-vercel.js
  vercel.json
Due: eslint --fix, prettier --write

Fix Turbo workspace resolution on Vercel
  scripts/fix-workspace-vercel.js
  vercel.json
Due: eslint --fix, prettier --write

Fix json2csv version to use latest stable
  packages/analytics/package.json
Due: prettier --write, npx sort-package-json

Remove non-existent @radix-ui/react-sheet package
  packages/ui/package.json
Due: prettier --write, npx sort-package-json

Fix build command path - use absolute path for directory navigation
  vercel.json
Due: prettier --write

Fix critical security vulnerabilities and deprecated packages
  apps/ws/package.json
  packages/core/package.json
Due: prettier --write, npx sort-package-json

Major fixes for Vercel deployment success
  apps/api/package.json
  apps/sandbox/package.json
  apps/web/package.json
  package.json
  packages/analytics/package.json
  packages/api-client/package.json
  packages/billing/package.json
  packages/core/package.json
  packages/database/package.json
  packages/security/package.json
  packages/telemetry/package.json
  packages/tools/package.json
  packages/ui/package.json
Due: prettier --write, npx sort-package-json

Fix all npm deprecation warnings permanently
  package.json
  packages/analytics/package.json
Due: prettier --write, npx sort-package-json

Final fixes for TypeScript build errors
  apps/web/src/components/ArtifactViewer.tsx
  apps/web/src/components/Header.tsx
  apps/web/src/components/Sidebar.tsx
  apps/web/src/components/artifacts/ArtifactHeader.tsx
  apps/web/src/components/artifacts/ArtifactTabs.tsx
  apps/web/src/components/artifacts/ArtifactViewer.tsx
  apps/web/src/components/artifacts/renderers/ImageRenderer.tsx
  apps/web/src/components/artifacts/renderers/JSONRenderer.tsx
  apps/web/src/components/artifacts/renderers/ModelRenderer.tsx
  apps/web/src/components/artifacts/renderers/PDFRenderer.tsx
  apps/web/src/components/artifacts/renderers/TableRenderer.tsx
  apps/web/src/components/artifacts/renderers/VideoRenderer.tsx
  apps/web/src/components/auth/SessionManager.tsx
  apps/web/src/components/billing/BillingDashboard.tsx
  apps/web/src/components/billing/InvoiceHistory.tsx
  apps/web/src/components/billing/PaymentMethods.tsx
  apps/web/src/components/billing/PlanSelector.tsx
  apps/web/src/components/billing/UpgradeDialog.tsx
  apps/web/src/components/billing/UsageMetrics.tsx
  apps/web/src/components/monitoring/MetricsDashboard.tsx
  apps/web/src/components/monitoring/SystemHealth.tsx
  apps/web/src/components/sandbox/CodeEditor.tsx
  apps/web/src/components/sandbox/OutputPanel.tsx
  apps/web/src/components/sandbox/PlotViewer.tsx
  apps/web/src/components/sandbox/VariableInspector.tsx
  apps/web/src/components/tools/ToolCard.tsx
  apps/web/src/components/tools/ToolExecution.tsx
  apps/web/src/components/tools/ToolRegistry.tsx
  apps/web/src/components/ui/LoadingSpinner.tsx
  apps/web/src/hooks/useChat.ts
  apps/web/src/pages/ChatView.tsx
  apps/web/src/pages/auth/ForgotPasswordPage.tsx
  apps/web/src/pages/auth/LoginPage.tsx
  apps/web/src/pages/auth/RegisterPage.tsx
  apps/web/src/pages/auth/ResetPasswordPage.tsx
  apps/web/src/utils/artifacts/detector.ts
  apps/web/src/utils/artifacts/transformer.ts
  issues.txt
  scripts/fix-final-issues.js
Due: eslint --fix, prettier --write

Fix unterminated string literals and trailing quotes
  apps/web/src/components/artifacts/renderers/CodeRenderer.tsx
  apps/web/src/components/artifacts/renderers/MarkdownRenderer.tsx
  apps/web/src/components/auth/SessionManager.tsx
  apps/web/src/components/auth/index.ts
  apps/web/src/components/monitoring/LogViewer.tsx
  apps/web/src/components/sandbox/OutputPanel.tsx
  apps/web/src/components/ui/LoadingSpinner.tsx
  apps/web/src/components/ui/Modal.tsx
  apps/web/src/hooks/artifacts/useArtifact.ts
  apps/web/src/hooks/useAuth.ts
  apps/web/src/routes/AuthRoutes.tsx
  apps/web/src/store/artifactStore.ts
  apps/web/src/utils/artifacts/detector.ts
  apps/web/src/utils/artifacts/exporter.ts
  issues.txt
  scripts/fix-string-literals.js
  scripts/fix-trailing-quotes.js
Due: eslint --fix, prettier --write

Fix remaining TypeScript build errors
  apps/web/src/components/artifacts/renderers/CodeRenderer.tsx
  apps/web/src/components/artifacts/renderers/MarkdownRenderer.tsx
  apps/web/src/components/monitoring/LogViewer.tsx
  issues.txt
Due: eslint --fix, prettier --write

Fix zustand store syntax error
  apps/web/src/store/artifactStore.ts
Due: eslint --fix, prettier --write

Fix TypeScript build configuration for Vercel
  apps/web/package.json
  apps/web/tsconfig.build.json
  packages/shared/src/types/index.ts
  packages/ui/src/index.ts
Due: eslint --fix, prettier --write, npx sort-package-json

Fix TypeScript errors - add missing types and UI components
  apps/web/src/components/ChartRenderer.tsx
  apps/web/src/components/DataTable.tsx
  apps/web/src/components/MarkdownEditor.tsx
  apps/web/src/components/artifacts/ArtifactViewer.tsx
  apps/web/src/components/sandbox/CodeEditor.tsx
  apps/web/src/components/sandbox/OutputPanel.tsx
  apps/web/src/components/sandbox/PlotViewer.tsx
  apps/web/src/components/sandbox/VariableInspector.tsx
  apps/web/src/components/tools/ToolForm.tsx
  apps/web/src/components/tools/ToolResults.tsx
  apps/web/src/components/ui/badge.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/progress.tsx
  apps/web/src/contexts/WebSocketContext.tsx
  apps/web/src/pages/Admin.tsx
  apps/web/src/pages/Conversation.tsx
  apps/web/src/pages/Home.tsx
  apps/web/src/pages/Profile.tsx
  apps/web/src/pages/Settings.tsx
  package-lock.json
  package.json
  packages/shared/src/types/index.ts
  turbo.json
Due: eslint --fix, prettier --write, npx sort-package-json

Fix more TypeScript build errors
  apps/web/src/components/artifacts/ArtifactViewer.tsx
  apps/web/src/components/sandbox/CodeEditor.tsx
  apps/web/src/components/sandbox/PlotViewer.tsx
  apps/web/src/components/tools/ToolRegistry.tsx
  apps/web/src/store/artifactStore.ts
  apps/web/src/utils/artifacts/transformer.ts
  packages/shared/src/types/index.ts
Due: eslint --fix, prettier --write

Fix critical TypeScript errors for Vercel build
  apps/web/src/store/artifactStore.ts
  packages/shared/src/types/index.ts
Due: eslint --fix, prettier --write

Fix all TypeScript compilation and build errors
  .npmrc
  apps/web/src/components/auth/SessionManager.tsx
  apps/web/src/components/sandbox/CodeEditor.tsx
  apps/web/src/contexts/ChatContext.tsx
  apps/web/src/contexts/WebSocketContext.tsx
  apps/web/src/hooks/useAuth.ts
  apps/web/src/hooks/useChat.ts
  apps/web/src/hooks/useNotifications.ts
  apps/web/src/hooks/useWebSocket.ts
  apps/web/src/pages/ChatView.tsx
  apps/web/src/pages/auth/ForgotPasswordPage.tsx
  apps/web/src/pages/auth/LoginPage.tsx
  apps/web/src/pages/auth/RegisterPage.tsx
  apps/web/src/pages/auth/ResetPasswordPage.tsx
  apps/web/tailwind.config.js
  apps/web/tsconfig.build.json
  apps/web/vite.config.ts
  eslint.config.js
Due: eslint --fix, prettier --write

fix(deps): resolve vercel build failures and security vulnerabilities
  apps/admin/package.json
  apps/api/package.json
  apps/web/package.json
  package-lock.json
  package.json
  packages/core/package.json
  packages/security/package.json
Due: prettier --write, npx sort-package-json

fix(config): correct vercel output directory configuration
  vercel.json
Due: prettier --write

fix(config): remove invalid rootDirectory property from vercel.json
  vercel.json
Due: prettier --write

fix(config): use absolute path in vercel buildCommand
  vercel.json
Due: prettier --write

fix(config): correct outputDirectory to relative path from build location
  vercel.json
Due: prettier --write
